<%= turbo_frame_tag "lines_view" do %>
  <section id="line">
    <h2>ライン|編集</h2>
    <div class="md:w-2/3 w-full">
      <%= render "form", line: @line %>

      <%= link_to "詳細", @line, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
      <%= link_to "戻る", root_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    </div>
  </section>
<% end %>
