<section id="schedule">
  <h2>スケジュール</h2>
  <div class="text-right mb-5">
    <%= link_to "釣行日誌一覧へ", logs_path, class: "px-4 py-2 rounded-lg bg-white text-gray-800 border border-gray-300 hover:bg-gray-100 shadow-sm transition" %>
  </div>
  <%= month_calendar do |date| %>
    <%= date.day %>
  <% end %>
</section>
