<section id="help" class='mt-3'>
  <div class="max-w-3xl mx-auto p-6">
    <h1 class="text-2xl font-bold mb-4">データの作成手順BBBBBBBBBBBBBB</h1>
    
    <p class="mb-4">
      　釣行記録では<span class="font-semibold">タックル</span>を登録できます。
      タックルは以下のような階層構造から成ります：
    </p>

    <div class="bg-white border border-gray-200 rounded-lg p-4 mb-4 shadow-sm">
      <ul class="list-disc list-inside space-y-2">
        <li><span class="font-semibold">タックル</span>
          <ul class="list-disc list-inside ml-6 mt-1">
            <li><span class="font-semibold">ロッド</span></li>
            <li><span class="font-semibold">リール</span>
              <ul class="list-disc list-inside ml-6 mt-1">
                <li><span class="font-semibold">ライン</span></li>
              </ul>
            </li>
            <li><span class="font-semibold">リーダー</span></li>
          </ul>
        </li>
      </ul>
    </div>

    <p class="mb-4">
      よって、タックルを作成するには、これらの要素すべてを事前に登録しておく必要があります。
    </p>

    <p>
      　そのため、まずはラインを登録し、ロッド → リール → リーダーの順で登録していくことをお勧めします。
      このとき、ラインが登録されていないリールをタックルに登録しようとするとエラーになります。
    </p>
    <p>
      　その後、タックルを新規作成すると、作成したタックルを釣行日誌の作成時に選択できるようになります。
    </p>
  </div>
</section>
